<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    hello world
    <ul>
    {% for pessoa in pessoas %}
        <li>{{ pessoa.id }} - {{ pessoa.nome }} - {{ pessoa.sobrenome }} - {{ pessoa.email }} - {{ pessoa.data_nascimento }}</li>
    {% endfor %}
    </ul>

    <form action="{% url 'salvar' %}" method="POST">
        {% csrf_token %}
        <input type="text" name="nome">
        <input type="text" name="sobrenome">
        <input type="text" name="email">
        <input type="text" name="data_nascimento">
        <button type="submit">Salvar</button>
    </form>
</body>
</html>
